*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
header{
	
	padding: 20px 0;
	text-align:center;
}
.nav-list{
	text-align:center;
	padding:15px 0;
	border-top:1px solid;
	border-bottom:1px solid ;


}
.list-item{
	display:inline-block;
	margin: 0 20px;
}
.square{
	height:200px;
	width:200px;
	float:left;
}
.box1{
	background-color:#e6ffe9;
}
.box2{
	background-color:#cbffd3;
}
.box3{
	background-color:#aeffbd;
}
.box4{
	background-color:#94ffab;
}
.box5{
	background-color:#f3ffd8;
}
.box6{
	background-color:#edffbe;
}
.box7{
	background-color:#e9ffa5;
}
.box8{
	background-color:#e4ff8d;
}
.box9{
	background-color:#d9e5ff;
}
.box10{
	background-color:#bad3ff;
}
.box11{
	background-color:#a4c6ff;
}
.box12{
	background-color:#8eb8ff;
}
main{
	width:800px;
	height:600px;
	margin: 0 auto;
	padding:50px 0;
}
footer{
	width:100%;
	height:120px;
	background-color:grey;
	text-align:center;
}